
        .myform{
            width: 500px;
            background-color:chartreuse;
            
        }
        .botton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 485px;
           
    
        }
        .todos{
            background-color: chartreuse;
        }
        .taski{
            background-color: white;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0.10px 10px rgba(0,0,0,0.3);
            width: 100%;
            position: relative;
            color: black;
        }
        .boxtask{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid green;
            padding: 10px;
        }
        .tm{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

         .task{
            
            color: whitesmoke;
            width: 100%;
        }

        body{
            display: flex;
            flex-direction: column;
            background-color:green;
            min-height: 100vh;
            
        }

        input, button{
            appearance: none;
            border: none;
            outline: none;
            background: none;
        }

         #tasks .task{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            margin-bottom: 15px;
            border-radius: 10px;
            background-color: green;
        } 

        #tasks .task .content{
            flex: 1 1 0%;
        }

        #tasks .task .content .text{
            color: white;
            font-size: 18px;
            width: 100%;
            display: block;
        }

        /* #new-task-input{
            flex: 1 1 0% ;
            font-size: 20px;

        } */

        #tasks .task .action{
            display: flex;
            
        }
        .edit{
            background-color: blue;
            color: whitesmoke;
            border-radius: 10%;
            margin: 3px;
            width: 60px;
        }
        .delete{
            background-color: red;
            color: whitesmoke;
            border-radius: 10%;
            margin: 3px;
            
        }
        .edit:hover{
            background-color: rgb(30, 170, 216);
        }
        .delete:hover{
            background-color: lightcoral;
        }
 
